/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color variables */

:root {
  --blue10: #535971;
  --pink10: #ff5374;
  --white: #ffffff;
  --white10: #fafafc;
  --white20: #efefef;
  --gray10: #e6e6f0;
  --gray20: #c1bccc;
  --purple10: #4e4958;
}

/* general */
body,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 20px;
  font-family: "Staatliches", sans-serif;
  color: var(--blue10);
  font-weight: 400;
  line-height: 34px;
  margin-top: 16px;
}

.page {
  width: 750px;
  margin: auto;
}

body {
  background-color: var(--white20);
}

body::before {
  content: "";
  background-color: var(--blue10);
  height: 436px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* header */
header {
  width: 417px;
  margin-top: 140px;
}

header h1 {
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
}

header p {
  color: var(--white);
  font-size: 20px;
  margin: 18px 0 58px 0;
}

/* form */

form {
  background-color: var(--white);
  width: 750px;
  min-height: 300px;
  border-radius: 20px 20px 0px 0px;
  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset {
  border: none;
}

fieldset legend {
  font-family: "Staatliches", sans-serif;
  font-size: 24px;
  color: var(--blue10);
  line-height: 34px;
  padding-bottom: 16px;
  width: 100%;
  border-bottom: 1px solid var(--white20);
  margin-bottom: 16px;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  color: var(--purple10);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-wrapper span {
  color: var(--gray20);
  font-size: 12px;
  line-height: 20px;
  margin-left: 4px;
}

.input-wrapper input {
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--gray10);
  background-color: var(--white10);
  padding: 0 24px;
  font-size: 16px;
  line-height: 26px;
  color: var(--blue10);
}

.col-2 {
  display: flex;
  gap: 20px;
}

.col-2 input {
  width: 300px;
}

.col-3 {
  display: flex;
  gap: 10px;
}

.col-3 > div:nth-child(1) {
  width: 100%;
  margin-right: 32px;
}

.mentorship-first-name {
  margin-top: 16px;
}
