/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color variables */

:root {
  --primary: #535971;
  --secondary: #ff5374;
  --white: #ffffff;
  --whitesmoke: #efefef;
  --form-text: #4e4958;
}

/* general */
body,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

.page {
  width: 750px;
  margin: auto;
}

body {
  background-color: var(--whitesmoke);
}

body::before {
  content: "";
  background-color: var(--primary);
  height: 436px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* header */
header {
  width: 417px;
  margin-top: 140px;
}

header h1 {
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  color: var(--white);
}

header p {
  color: var(--white);
  font-size: 20px;
  margin: 18px 0 58px 0;
}

/* form */
